<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".generated.cs" #>
<#@ include file="..\CicodeFileTests.tt" #>

<#
GenerateTestClass("RegressionTests", "NCicode.UnitTests.Regression", "Cicode");
#>